#wrapper {
    width: 640px;
}

#header > div {
    display: block;
    float: none;
    margin: 10px auto;
    padding: 0;
    text-align: center;
}

#header div a {
    float: none;
}

.mainImage img {
    width: 100%;
}

.speech {
    font-size: 11px;
}

#footer .footerInside > p {
    float: none;
    font-size: 11px;
    margin-bottom: 15px;
}

#footer .footerInside > span, #footer .footerInside > p {
    text-align: center;
}

#footer span i {
    margin-right: 10px;
}
