
@media screen and (max-width: 1285px) {
    .galleryForLook ul li {
        padding-left: 0;
    }
}

@media screen and (max-width: 1100px) {
    .galleryForLook {
        text-align: center;
    }

    .linkToFullGallery {
        float: none;
        margin-right: 0;
    }
}

@media screen and (max-width: 1230px) {
    .wideAd {
        text-align: center;
    }

    .buttonForOrder {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .wideAd img {
        width: 100%;
    }

}