body:after {
    width: 1076px;
}

header, section, footer {
    width: 640px;
}

header {
    margin-bottom: 170px;
}

.logo {
    text-align: center;
}

.logo > img {
    max-width: 210px;
}

.galleryForLook {
    text-align: center;
}

.galleryForLook ul li {
    padding-left: 0;
}

.linkToFullGallery {
    float: none;
    margin-right: 0;
}

.wideAd {
    text-align: center;
}

.wideAd img {
    width: 100%;
}

.buttonForOrder {
    display: none;
}

