html, body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 15px;
}

body {
    background: url("img/wrapBackground.png") repeat-x;
}

a {
    text-decoration: none;
}

.themeOnPink {
    background: #de004e;
    border-radius: 12px;
    color: white;
    padding: 5px 8px;
}

.titleTheme {
    color: #7a7a7a;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.titleTheme img {
    vertical-align: middle;
}

#wrap {
    margin: 40px auto 0;
    width: 960px;
}

header div {
    display: inline-block;
}

.titleSite {
    color: #7d7d7d;
    font-family: Minion Pro;
    font-size: 29px;
    letter-spacing: -1px;
    text-align: right;
    text-shadow: 0 1px 0 white;
    width: 250px;
}

.slogan {
    color: #666666;
    font-family: Minion Pro;
    font-size: 12px;
    font-weight: 100;
    line-height: 37px;
    text-align: right;
    vertical-align: top;
    width: 235px;
}

.search {
    float: right;
    position: relative;
}

.loupe {
    background: url("img/icons/iconSearch.png") no-repeat;
    height: 13px;
    left: 15px;
    position: absolute;
    top: 14px;
    width: 17px;
    z-index: 5;
}

.search input {
    background: #ededed;
    border: 0;
    border-radius: 20px;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.2);
    color: black;
    font-family: Verdana;
    font-size: 10px;
    font-style: italic;
    padding: 12px 10px 12px 40px;
    width: 210px;
}

.topMenu {
    margin: 21px 0;
}

.topMenu li {
    display: inline-block;
    padding: 0 10px;
}

.topMenu li a {
    border-radius: 5px;
    color: #646363;
    font-family: Verdana;
    font-size: 13px;
    font-style: italic;
    padding: 4px 2px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.triangleDown {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid white;
    bottom: -10px;
    display: none;
    height: 0;
    left: 40%;
    position: absolute;
    width: 0;
    z-index: 10;
}

.topMenu li a:hover {
    background: white;
    color: #de004e;
}

.topMenu li a:hover .triangleDown {
    display: block;
}

/*=================CONTENT=======================*/

#content {
    background: white;
    border-radius: 10px;
    padding: 30px;
}

.mainNews {
    display: inline-block;
    margin: 0 20px 0 0;
    position: relative;
}

.underMainImage {
    border-radius: 0 0 10px 10px;
    bottom: 4px;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
}

.underMainImage div {
    border-radius: 0 0 10px 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}

.backgroundMainImage {
    background: rgba(0,0,0,0.25);
    height: 90px;
}

.inscriptionsMainImage {
    position: absolute;
    bottom: 0;
}

.underMainImage p {
    color: white;
    font-size: 11px;
    padding: 0 15px;
    word-spacing: 4px;
}

.underMainImage .titleOnMainImage {
    font-size: 18px;
    font-weight: bolder;
    word-spacing: 0px;
}

.freshNews {
    display:inline-block;
    vertical-align: top;
    width: 38%;
}

.oneLineOnNews {
    font-size: 11px;
}

.oneLineOnNews p {
    margin: 0;
}

.oneLineOnNews p:first-of-type {
    padding: 10px 0 0 0;
}

.oneLineOnNews img {
    background: #dcdcdc;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: -1px -1px 0 #dcdcdc;
    clear: left;
    float: left;
    margin: 0 17px 10px 0;
    padding: 4px;
}


.dataOneLineOnNews {
    color: #de004e;
    font-size: 10px;
}

.oneLineOnNews hr {
    border-top: 1px dashed #dcdcdc;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 18px 0 0 0;
}

.oneLineOnNews .last {
    border-top: 1px solid white;
}

.columnBrieflyOnNews {
    border-top: 1px solid gray;
    margin: 20px 0 0;
}

.brieflyOnNews {
    display: inline-block;
    padding: 15px 20px 0 25px;
    vertical-align: top;
    width: 28%;
}

.columnBrieflyOnNews .brieflyOnNews:first-of-type {
    border-right: 1px solid gray;
    padding-left: 0;
}

.brieflyOnNews p {
    margin: 8px 0;
}

.brieflyOnNews p:first-child {
    color: gray;
    font-size: 11px;
}

.brieflyOnNews h2 {
    font-size: 19px;
    margin: 0;
}

p.textBrieflyOnNews {
    color: gray;
    font-size: 12px;
    margin-bottom: 0;
}

.linkForArticle {
    color: #DE004E;
    font-size: 10px;
    font-style: italic;
}